

.stats-grid:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);   
}

.stats-grid:hover{
   box-shadow:  5px 5px 5px black;  
    transform: translateY(-5px);
}

.stats-grid:last-child .stat-number, .stats-grid:last-child .stat-label{
     color: white;
}

.workout-plan:nth-child(3){
    background-color: rgba(255, 248, 186);
    border-left: solid 5px rgba(243, 156, 18);

}

.exercise-item:last-child{
    background-color: rgba(240, 255, 244);
    border-left: solid 5px rgba(46, 204, 113);
}

.exercise-item:first-child{
    background-color: rgba(240, 255, 244);
    border-left: solid 4px rgba(46, 204, 113);
}

div p{
    font-size: 17px;
    quotes: "“" "”";
    
}

div p::before{
    content: open-quote;
    font-size: 30px;
    color: rgba(149, 161, 236)
;
}

div p::after{
    content: close-quote;
    font-size: 30px;
    color: rgba(158, 134, 196)
}
 
a:hover{
    background-color: rgba(52, 73, 94);
    transform: scale(0.5.0.5);
    color: rgba(84, 121, 228);
}

button:hover{
   transform: translateY(-2px);
   box-shadow: 6px 6px 6px blue;
   transition: 1s ease-in-out;

}


.goal-input-group:hover{
      border: 1px solid rgb(8, 30, 226); 
    box-shadow: 6px 6px 6px blue;
    transition: 1s ease-in-out;
}

#home:hover{
    background-color: rgba(52, 73, 94);
    transform: scale(0,5.0,5);
    color: rgba(84, 121, 228);
}

.progress-fill{
    position
}



