
p{
    font-size: 40px;
}

.stats-grid:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);   
}

.stats-grid:hover{
    box-shadow:  0px 5px 5px black;
}

.stats-grid:last-child .stat-number, .stats-grid:last-child .stat-label{
     color: white;
}

.workout-plan:nth-child(3){
    background-color: rgba(255, 248, 186);
    border-left: solid 5px rgba(243, 156, 18);

}

.exercise-item:last-child{
    background-color: rgba(240, 255, 244);
    border-left: solid 5px rgba(46, 204, 113);
}

.exercise-item:first-child{
    background-color: rgba(240, 255, 244);
    border-left: solid 4px rgba(46, 204, 113);
}

div p{
    font-size: 15px;

}

