
p{
    font-size: 40px;
}

.stats-grid:last-child{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);   
}

.stats-grid:last-child .stat-number, .stats-grid:last-child .stat-label{
     color: white;
}

.workout-plan:nth-child(3){
    background-color: rgba(255, 248, 186);
    border-left: solid 5px rgba(243, 156, 18);

}
